.wrapper {
    width: 420px;
    cursor: pointer;
}

.previewPic {
    width: 420px;
    height: 236px;
    margin: 0 0 15px 0;
    background: #909090;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px #909090;
}

.lectureName,
.lector {
    font-size: 29px;
    line-height: 32px;
}

.lectureName {
    margin: 0 0 5px 0;
    font-weight: 600;
}
